.form-box{
    margin-bottom: 80px;
    position: center;
    size: 50px;
}

.container{
    width: 700px !important;
}

.headings{
    margin-bottom: 1px;
    margin-top: 1px;
}
.carousel slide{
    position: center;
    max-width: 50px;
    height: 150px;
    background: #ECECEC;
}

#left, #right{
    margin: 300px;
}

.mdp{
    margin-top: 2%;
    margin-bottom: 5%;
}

.search-field {
    width: 500px;
}