.mat-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 500px;
    height: 550px;
    text-align: center;
    font-family: arial;
}

.avatar {
    margin-top: 30px;
}

.mdp {
    margin-top: 8%;
    margin-bottom: 10%;
}

.heading {
    //   text-align: right;
    margin-left: 900px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    margin-bottom: 20px;
}

//   .head{
//       margin-left: 550px;
//   }
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
    // margin-bottom: 500px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0 auto;
    /* Center website */
    max-width: 800px;
    /* Max width */
    padding: 20px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}


/* Three column layout */

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}


/* Place text to the right */

.right {
    text-align: right;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-right: 300px;
}


/* The bar container */

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.ratings {
    margin-right: 400px;
}


/* Individual bars */

.bar-5 {
    width: 60%;
    height: 18px;
    background-color: #4CAF50;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
}

//   .rightcolumn {
//     float: left;
//     width: 25%;
//     padding-left: 20px;
//   }
//   /* Fake image */
//   .fakeimg {
//     background-color: #aaa;
//     width: 100%;
//     padding: 20px;
//   }
//   /* Add a card effect for articles */
//   .card {
//      background-color: white;
//      padding: 20px;
//      margin-top: 20px;
//   }

/* Responsive layout - make the columns stack on top of each other instead of next to each other */

@media (max-width: 400px) {
    .side,
    .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}