<!-- <div class=" card card shadow-lg p-3 mb-5 mdp">

    <h4 class="text-center">Contact Us</h4> -->

    <!-- <div class="card-body text-info"> -->
<div class="background">
<div class="form-gap">
<div class="container">
	<div class="row">
		<div class="col-md-4 jumbotron col-md-offset-4" style="margin: 0 auto">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input type="email" class="form-control" placeholder="Email Address" [formControl]="resetEmail" id="inputRestEmail" required
                            name="resetEmail">
                          <!-- https://stackoverflow.com/questions/940577/javascript-regular-expression-email-validation  -->
                          
                        </div>
                        <div *ngIf="resetEmail.invalid && (resetEmail.dirty || resetEmail.touched)" class="alert alert-danger">
                        
                          <div *ngIf="resetEmail.errors.required"> Email Id is required</div>
                          <div *ngIf="resetEmail.errors.pattern">Email must be valid.</div>
                        
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="password" [formControl]="resetPassword" class=" form-control" id="inputPassword"
                          required name="restPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                        <!-- https://stackoverflow.com/questions/19605150/regex-for-password-must-contain-at-least-eight-characters-at-least-one-number-a -->
       
                      </div>
                      <div *ngIf="resetPassword.invalid && (resetPassword.dirty || resetPassword.touched)" class="alert alert-danger">
                        -->
                      
                        <div *ngIf="resetPassword.errors.required">Password is required</div>
                        <div *ngIf="resetPassword.errors.pattern">
                          Password must contain at least one uppercase letter, and one lowercase letter, and one number and one special
                          character (@,#,$..). Minimum 8 characters.
                        </div>
                      
                      </div>
                      <div class="form-group">
                        <button (click)="updatePassword();updateTutorPassword();" onclick="this.form.reset();alert('Something happened!');" 
                        name="recover-submit" class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>

                    <div class="contact">
                        <h3>Forget your email address?</h3>
                        <div class="position-center">
                          <div class="content">
                            <p class="or">*</p>
                          </div>
                          <div class="content2">
                            <p>Please contact us via email!</p>
                            <a href="mailto:password_reset@csci4177.ca">password_reset@csci4177.ca</a>
                          </div>
                          <div class="content">
                            <p class="or">*</p>
                          </div>
                        </div>
                      </div>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>  
          <!-- </div>
        </div> -->
          <!-- </div> -->
          
  
  
  <!-- <div class="reset-box">
    <div class="inner-box">
      <h3>Forget Your Password?</h3>
      <div>
        <small>Please enter your email address, we will send you a confirmation email.</small>
      </div>
      <form #resetForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="resetEmail">Email address</label>
          <input type="email" class="form-control" id="resetEmail" placeholder="name@example.com"
                 name="resetEmail" [(ngModel)]="model.email" #resetEmail="ngModel"
                 pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
          <div *ngIf="resetEmail.invalid && (resetEmail.dirty || resetEmail.touched)" class="alert alert-danger">

            <div *ngIf="resetEmail.errors.required"> Email is required. </div>

            <div *ngIf="resetEmail.errors.pattern"> Invalid email address. </div>

          </div>  
        </div>
      </form>
      <button type="submit" class="btn btn-dark btn-block" [disabled]="!resetForm.form.valid">Submit</button>
    </div>
  </div>

   <div class="contact"> -->
      