<div class="background">
    <div class=" container register">
        <form #updateForm="ngForm" (ngSubmit)="onUpdate(updateForm)">
            <div class="color row mdp">

                <!-- <div class="login-form mdp"> -->
                <div class="col-md-3 register-left">
                    <!-- <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/> -->
                    <h3>What's the time? Tutor Time!</h3>
                    <p>A place where learning made easy</p>
                    <br>
                </div>
                <div class=" change col-md-9 register-right">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Update profile</h3>
                            <div class="row register-form">
                                <div class="col-md-12">
                                    <div class="row" *ngIf="studentService.student">
                                        <div class="col-md-6">
                                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="studentService.student._id">
                                            <input type="hidden" name="studentQuestion" #studentQuestion="ngModel" [(ngModel)]="studentService.student.studentQuestion">
                                            <input type="hidden" name="studentanswer" #studentanswer="ngModel" [(ngModel)]="studentService.student.studentanswer">
                                            <div class="form-group">
                                                <label for="firstName">Name</label>
                                                <input type="text" class="form-control" placeholder="First Name *" id="firstName" required name="student_FName" [(ngModel)]="studentService.student.student_FName" #fName="ngModel">
                                                <div [hidden]="fName.valid || fName.pristine" class="alert alert-danger">
                                                    First Name is required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="email">Email ID</label>
                                            <!-- <input type="email" class="form-control" placeholder="Your Email *" value="" /> -->
                                            <input type="email" class="form-control" placeholder="Your Email *" id="email" required name="student_Email" [(ngModel)]="studentService.student.student_Email" #email="ngModel" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
                                            <!-- https://stackoverflow.com/questions/940577/javascript-regular-expression-email-validation  -->
                                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                                                <div *ngIf="email.errors.required"> Email Id is required</div>
                                                <div *ngIf="email.errors.pattern">Email must be valid.</div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" *ngIf="studentService.student">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="password">Old Password</label>
                                                <input type="password" class="form-control" id="password" required name="student_Password" [(ngModel)]="studentService.student.student_Password" #password="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                                                <!-- https://stackoverflow.com/questions/19605150/regex-for-password-must-contain-at-least-eight-characters-at-least-one-number-a -->
                                                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">


                                                    <div *ngIf="password.errors.required">Password is required</div>
                                                    <div *ngIf="password.errors.pattern">
                                                        Password must contain at least one uppercase letter, and one lowercase letter, and one number and one special character (@,#,$..). Minimum 8 characters.
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="confirmPassword">New Password</label>
                                                <input type="password" class="form-control" id="confirmPassword" required name="student_Password" #confirmPassword pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">

                                                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
                                                    <div *ngIf="confirmPassword.errors.required">Password is required</div>
                                                    <div *ngIf="confirmPassword.errors.pattern">
                                                        Password must contain at least one uppercase letter, and one lowercase letter, and one number and one special character (@,#,$..). Minimum 8 characters.
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="studentService.student">


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="mobile">Phone Number</label>
                                                <!-- <input type="number" class="form-control"
                    placeholder="Mobile Number*" required name="mobile" [(ngModel)="model.mobile" #mobile="ngModel"
                    pattern="^\w+@[0-9]+?\.">
                    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">

                        <div *ngIf="mobile.errors.required"> Phone Number is required</div>
                        <div *ngIf="mobile.errors.pattern">Phone Number must be valid.</div>

                      </div> -->
                                                <input type="text" minlength="10" maxlength="10" id="mobile" name="student_PhoneNumber" class="form-control" placeholder="Your Phone *" value="" [(ngModel)]="studentService.student.student_PhoneNumber" #mobile="ngModel" />
                                            </div>

                                            <div class="form-group">
                                                <button class="btn btn-dark btn-block" type="submit">Update</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>








</div>